<%- include("header") -%>
  <body>
  
    <div>
      <a class="homeUrl" href="https://www.jpeiyi.com">Back to Home Page</a>
    </div>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% items.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listTitle" value="<%= listTitle %>">
      </form>
    <% }) %>

    <form class="item" action="/" method="post">
      <input type="text" name="toDo" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button" value=<%= listTitle %>>+</button>
    </form>
  </div>


  </body>
<%- include("footer") -%>
